/* Page layout */

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.view-container {
    margin-top: 51px;
}

.main-brand {
    color: #000000 !important;
    font-size: 42px;
}

.spaced-letters {
    letter-spacing: 15px;
}

@media (max-width: 767px) {
    .spaced-letters {
        letter-spacing: 1px;
    }

    .navbar-brand {
        padding-right: 0;
    }
}

.about, .examples, .experience {
    min-height: 750px;
    padding-top: 55px;
}

.contact {
    min-height: 400px;
    padding-top: 55px;
}

.gray-text {
    color: #696969;
}


/* navbar */
.navbar {
    background-color: #ffffff;
    border-bottom: none;
}

.navbar-default {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a {
    color: #000000 !important;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #777777 !important;
}


/* About Me */
.about-paragraph {
    margin: 0 auto;
    font-size: 16px;
}

.about {
    background: url("../img/cincy.png") no-repeat scroll 50% 50%;
    background-size: cover;
}

.white-box {
    background: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
}

.box-top {
    margin-top: 20px;
}

.box-bottom {
    padding-bottom: 15px;
}


/* Examples of my work */
.work-title {
    text-align: center;
}

.work-description {
    position: absolute;
    top: 6em;
    text-align: center;
    color: #333;
}

.work-description {
    padding-right: 15px;
    padding-left: 15px;
}

.insta-average {
    background: url("../img/insta-average.png") no-repeat;
    height: 250px;
    width: 250px;
}

.ense {
    background: url("../img/ense.png") no-repeat;
    height: 250px;
    width: 250px;
}

@media (max-width: 767px) {
    .mobile-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.sel {
    background: url("../img/eclipse.png") no-repeat;
    height: 250px;
    width: 250px;
}

.im {
    background: url("../img/iphone.png") no-repeat;
    height: 250px;
    width: 250px;
}


/* My Experiences */
.experience {
    margin-top: 50px;
    background: url("../img/work.png") no-repeat scroll 50% 50%;
    background-size: cover;
}

.work-exp {
    margin-bottom: 70px;
    padding-bottom: 5px;
    border-bottom: dotted #000000 thin;
}

.spacer {
    height: 40px;
}

.work-dates {
    color: #696969;
}


/* Contact Me */
.contact-content {
    text-align: right;
    padding-right: 15px;
}

.border-right-dots {
    border-right: dotted #000000 thin;
}

.contact-link:hover {
    color: #696969;
}

.contact-info {
    height: 30px;
    line-height: 30px;
}

.contact-info-detail {
    vertical-align: top;
}

.phone-num {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 6px;
    vertical-align: text-bottom;
}

.contact-icon {
    text-align: left;
}

.black-text {
    color: #000000;
}